.h1{
  font-size: 24px;
  padding-top: 210px;
  padding-left: 80px;
  font-family: initial;
  color: aliceblue;
}
.back{
  background: url(img/18966421.png);
 background-size: cover ;
 background-position: 20;
  background-repeat: no-repeat;
  width: 100;
  height: 600px;
}
.flex{
display: grid;
grid-template-columns: 1fr 1fr;
}
.img{
  width: 100%;
  margin-top: 0px;
  
}
.p{
  font-size: 14px;
  color: white;
  padding-left: 64px;
  padding-top: 20px;
}
.butao{
  background-color: maroon;
  color: white;
  margin-left: 100px;
  border-color: rgb(0, 0, 0);
  border-radius: 30px;
}
.pi{
  padding-left: 20px;
  padding-top: 20px;
  color: rgb(106, 9, 9);
}
.img2{
  width: 100%;
  margin-top: -150px;
}
.butao2{
  background-color: maroon; 
  color: white; padding-left: 40px;
  padding-right: 40px;
  border-color: rgb(0, 0, 0);
  border-radius: 30px;
  margin-left: 100px;
}
.tipografia{
  text-align: center;
  color:maroon;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}
.rose {
  width: 100%;
 margin-left: 0px;
 border-radius: 10px;
 height: 25%;
}

.p1{
  width:350px;
  
}
.li{

  font-size: 18px;
}
.vinho{
  display:  grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
.margin{
  margin-left: 30px;
  border: 1px solid maroon;
  padding: 10px;
  background-color: maroon;
  color: white;
  border-radius: 20px;
  margin-right: 40px;height: 1200px;
}

.li{
  padding-bottom: 20px;
  padding-left: 10;
  padding-right: 10px;
}
.tinto{
  width: 100%;
  height: 25%;
  border-radius: 10px;
}
.corer{
  background-color: maroon;
}
.branco{
  width: 100%;
  height: 25%;
}
.vinho2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 20px;
 
  margin-top: 30px;
  margin-left: 30px;

}
.border1{
padding: 10px;
border: 1px solid maroon;
margin-bottom: 20px;
}
.im2{
  height: 500px;
  padding-left: 100px;
  width: 70%;
}
.lis{
  background: url(img/marcador.png) no-repeat left top;
  color: whitesmoke;
  padding-left: 40px;
  list-style: none;
  padding-bottom: 20px;
  background-size: 30px;
 
}
ul{
list-style: none;
}
.mgt{
  margin-bottom: -17px;
}
.beneficios{
  color: whitesmoke;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}